.about-img {
  text-align: center;
}

.about-img img {
  border-radius: 50%;
  border: 5px solid var(--bs-dark-bg-subtle);
  width: 100% auto;
  max-height: 300px;
}

.about-img h3 {
  margin-bottom: 0;
}

.about-img p {
  margin: 20px 0 0 0;
  font-size: 16px;
}

.about-info p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 0;
}

label {
  margin: 0;
  font-weight: bold;
  padding-right: 10px;
}
