.timeline {
    border-left: 1px solid var(--bs-body-color);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: var(--bs-body-color);
    color: var(--bs-primary);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .nav-link {
//   display: inline-block;
//   margin: 0;
// }

// .nav-link:after {
//   display: block;
//   content: "";
//   transform: scaleX(0);
//   transition: ease all 0.5s;
//   border-bottom: solid 2px transparent;
// }

// .nav-link:hover:after {
//   transform: scaleX(0.8);
//   border-bottom: solid 2px var(--bs-body-color);
// }

//.active:after {
//  transform: scaleX(1);
//  border-bottom: solid 2px var(--bs-primary);
//}