<section id="home">
  <div class="container">
    <div class="row align-items-center" style="height: 60vh; min-height: 400px">
      <div class="col-lg-7" style="z-index: 1">
        <h6 id="introduction"></h6>
        <h1 class="display-4" id="name"></h1>
        <h6 id="title"></h6>
        <br />
        <p id="description"></p>
        <br />
        <button class="btn btn-primary me-3">Download CV</button>
        <a (click)="scrollSpy.scrollTo('contact')">
          <button class="btn btn-outline-primary">Contact me</button>
        </a>
      </div>
    </div>
  </div>
  <div class="home-img"></div>
</section>
